/* Styles for design of page */

/* Header */
.header {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  background-color: #000092;
  color: white;
  align-items: center;
}

.header-title,
.link-list li {
  padding: 20px;
}

.header-title:hover,
.link-list li:hover {
  color: #92e5ff;
  cursor: pointer;
}

.link-list {
  list-style: none;
  display: flex;
}

/* Main body styling */
.main {
  background-color: #92e5ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

/* Quote questions styling */
.quote-questions {
  background-color: #000092;
  display: flex;
  color: white;
  height: 70vh;
  width: 90vw;
  justify-content: center;
  align-items: center;
}

.question-div {
  background-color: antiquewhite;
  color: black;
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.question-btn {
  background-color: #92e5ff;
  border: 1px #000092 solid;
  padding: 5px 25px;
  margin-bottom: 15px;
  margin-left: 30px;
}

.question-btn:hover {
  background-color: #d9f4fc;
  cursor: pointer;
}

.question-btn:disabled:hover {
  background-color: #92e5ff;
  cursor: auto;
}
